In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from subprocess import check_output
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import os
import gc
import warnings
import re
from nltk.corpus import stopwords
#import distance
from nltk.stem import PorterStemmer
warnings.filterwarnings("ignore")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
train_total_df = pd.read_csv("/content/drive/My Drive/case_study2/final_train_2.csv")

print("Number of data points:",train_total_df.shape[0])

Number of data points: 420285

In [0]:
test_total_df = pd.read_csv("/content/drive/My Drive/case_study2/final_test_2.csv")

print("Number of data points:",test_total_df.shape[0])

Number of data points: 115064

In [0]:
train_total_df.head()

   Unnamed: 0  Unnamed: 0.1  ...  nxt_week  week_of_the_month
0           0             0  ...  46039.49                  1
1           1             1  ...  44682.74                  1
2           2             2  ...  10887.84                  1
3           3             3  ...  35351.21                  1
4           4             4  ...  29620.81                  1

[5 rows x 42 columns]

In [0]:
test_total_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Store', 'Dept', 'Date', 'IsHoliday', 'Temperature', 'Fuel_Price',
       'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI',
       'Unemployment', 'IsHoliday_y', 'Type', 'Size', 'date', 'Super_Bowl_Day',
       'Labor_Day', 'Thanksgiving_Day', 'Christmas_Day',
       'Next_Week_Of_Thanksgiving', 'Next_Holiday_Week_Of_Thanksgiving',
       'Next_Week_Of_Christmas', 'week_of_year', 'month_of_year',
       'before_Christmas_Day', 'low_sales_dep', 'last_year_sales', 'year',
       'last_year_week_dept_sales', 'high_week_sales_dept',
       'low_week_sales_dept', 'monthly_sales', 'prev_week', 'nxt_week',
       'week_of_the_month'],
      dtype='object')

In [0]:
#we need to do one hot 

from sklearn.preprocessing import OneHotEncoder 

onehotencoder = OneHotEncoder() 
onehotencoder.fit(train_total_df[['Store']])

train_store_one_hot=onehotencoder.transform(train_total_df[['Store']])
test_store_one_hot=onehotencoder.transform(test_total_df[['Store']])

print("Shape of matrix after one hot encodig ",train_store_one_hot.shape)

Shape of matrix after one hot encodig  (420285, 45)

In [0]:
dept_onehotencoder = OneHotEncoder() 
dept_onehotencoder.fit(train_total_df[['Dept']])

train_dept_one_hot=dept_onehotencoder.transform(train_total_df[['Dept']])
test_dept_one_hot=dept_onehotencoder.transform(test_total_df[['Dept']])

print("Shape of matrix after one hot encodig ",train_dept_one_hot.shape)

Shape of matrix after one hot encodig  (420285, 81)

In [0]:
def replace_holiday(data):
    holiday=data.replace(to_replace=[False],value=0)
    holiday=holiday.replace(to_replace=[True],value=1)
    return holiday

In [0]:
train_holiday=replace_holiday(train_total_df[['IsHoliday']])

test_holiday=replace_holiday(test_total_df[['IsHoliday']])

In [0]:
train_holiday

        IsHoliday
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
...           ...
420280        0.0
420281        0.0
420282        0.0
420283        0.0
420284        0.0

[420285 rows x 1 columns]

In [0]:
from sklearn.preprocessing import StandardScaler


def do_StandardScaler(train,test):
    Standardscaler = StandardScaler()

    Standardscaler.fit(train.values.reshape(-1,1))

    train_number = Standardscaler.transform(train.values.reshape(-1,1))
   
    test_number  = Standardscaler.transform(test.values.reshape(-1,1))

    print(train_number.shape)
    
    return train_number,test_number

In [0]:
train_temperature,test_temperature    \
   = do_StandardScaler(train_total_df['Temperature'],test_total_df['Temperature'])

(420285, 1)

In [0]:
train_fuel_price,test_fuel_price    \
   = do_StandardScaler(train_total_df['Fuel_Price'],test_total_df['Fuel_Price'])

(420285, 1)

In [0]:
train_markdown1,test_markdown1   \
   = do_StandardScaler(train_total_df['MarkDown1'],test_total_df['MarkDown1'])

train_markdown2,test_markdown2   \
   = do_StandardScaler(train_total_df['MarkDown2'],test_total_df['MarkDown2'])

train_markdown3,test_markdown3   \
   = do_StandardScaler(train_total_df['MarkDown3'],test_total_df['MarkDown3'])

train_markdown4,test_markdown4   \
   = do_StandardScaler(train_total_df['MarkDown4'],test_total_df['MarkDown4'])

train_markdown5,test_markdown5   \
   = do_StandardScaler(train_total_df['MarkDown5'],test_total_df['MarkDown5'])

(420285, 1)
(420285, 1)
(420285, 1)
(420285, 1)
(420285, 1)

In [0]:
test_total_df['CPI'] = test_total_df['CPI'].fillna(0)
test_total_df['Unemployment'] = test_total_df['Unemployment'].fillna(0)

In [0]:
train_cpi,test_cpi    \
   = do_StandardScaler(train_total_df['CPI'],test_total_df['CPI'])

(420285, 1)

In [0]:
train_unemployment,test_unemployment   \
   = do_StandardScaler(train_total_df['Unemployment'],test_total_df['Unemployment'])

(420285, 1)

In [0]:
type_onehotencoder = OneHotEncoder() 
type_onehotencoder.fit(train_total_df[['Type']])

train_type_one_hot=type_onehotencoder.transform(train_total_df[['Type']])

test_type_one_hot=type_onehotencoder.transform(test_total_df[['Type']])

print("Shape of matrix after one hot encodig ",train_type_one_hot.shape)

Shape of matrix after one hot encodig  (420285, 3)

In [0]:
train_size,test_size   \
   = do_StandardScaler(train_total_df['Size'],test_total_df['Size'])

(420285, 1)

In [0]:
train_last_year_sales,test_last_year_sales   \
   = do_StandardScaler(train_total_df['last_year_sales'],test_total_df['last_year_sales'])

(420285, 1)

In [0]:
train_last_year_week_dept_sales,test_last_year_week_dept_sales   \
   = do_StandardScaler(train_total_df['last_year_week_dept_sales'],test_total_df['last_year_week_dept_sales'])

(420285, 1)

In [0]:
week_of_year_onehotencoder = OneHotEncoder() 
week_of_year_onehotencoder.fit(train_total_df[['week_of_year']])

train_week_of_year_one_hot=week_of_year_onehotencoder.transform(train_total_df[['week_of_year']])

test_week_of_year_one_hot=week_of_year_onehotencoder.transform(test_total_df[['week_of_year']])

print("Shape of matrix after one hot encodig ",train_week_of_year_one_hot.shape)

Shape of matrix after one hot encodig  (420285, 53)

In [0]:


month_of_year_onehotencoder = OneHotEncoder() 
month_of_year_onehotencoder.fit(train_total_df[['month_of_year']])

train_month_of_year_one_hot=month_of_year_onehotencoder.transform(train_total_df[['month_of_year']])

test_month_of_year_one_hot=month_of_year_onehotencoder.transform(test_total_df[['month_of_year']])

print("Shape of matrix after one hot encodig ",train_month_of_year_one_hot.shape)

Shape of matrix after one hot encodig  (420285, 12)

In [0]:
train_monthly_sales,test_monthly_sales   \
   = do_StandardScaler(train_total_df['monthly_sales'],test_total_df['monthly_sales'])

(420285, 1)

In [0]:
train_prev_week,test_prev_week   \
   = do_StandardScaler(train_total_df['prev_week'],test_total_df['prev_week'])

(420285, 1)

In [0]:
train_nxt_week,test_nxt_week   \
   = do_StandardScaler(train_total_df['nxt_week'],test_total_df['nxt_week'])

(420285, 1)

In [0]:


week_of_the_month_onehotencoder = OneHotEncoder() 
week_of_the_month_onehotencoder.fit(train_total_df[['week_of_the_month']])

train_week_of_the_month_one_hot=week_of_the_month_onehotencoder.transform(train_total_df[['week_of_the_month']])

test_week_of_the_month_one_hot=week_of_the_month_onehotencoder.transform(test_total_df[['week_of_the_month']])

print("Shape of matrix after one hot encodig ",train_week_of_the_month_one_hot.shape)

Shape of matrix after one hot encodig  (420285, 5)

In [0]:
['Store', 'Dept', 'Date', 'IsHoliday', 'Temperature', 'Fuel_Price',
       'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI',
       'Unemployment', 'IsHoliday_y', 'Type', 'Size', 'date', 'Super_Bowl_Day',
       'Labor_Day', 'Thanksgiving_Day', 'Christmas_Day',
       'Next_Week_Of_Thanksgiving', 'Next_Holiday_Week_Of_Thanksgiving',
       'Next_Week_Of_Christmas', 'week_of_year', 'month_of_year',
       'before_Christmas_Day', 'low_sales_dep', 'last_year_sales', 'year',
       'last_year_week_dept_sales', 'high_week_sales_dept',
       'low_week_sales_dept', 'monthly_sales', 'prev_week', 'nxt_week',
       'week_of_the_month']

In [0]:
from scipy.sparse import hstack

X_train = hstack((train_store_one_hot,train_dept_one_hot,train_holiday,train_temperature,  \
                 train_fuel_price,train_markdown1,train_markdown2,train_markdown3,train_markdown4,  \
                  train_markdown5,train_cpi,train_unemployment,train_type_one_hot,train_size  ,  \
                  train_total_df[['date']],train_total_df[['Super_Bowl_Day']],  \
                  train_total_df[['Labor_Day']],train_total_df[['Thanksgiving_Day']],  \
                  train_total_df[['Christmas_Day']],train_total_df[['Next_Week_Of_Thanksgiving']],  \
                  train_total_df[['Next_Holiday_Week_Of_Thanksgiving']],train_total_df[['Next_Week_Of_Christmas']],  \
                  train_week_of_year_one_hot,train_month_of_year_one_hot,train_total_df[['before_Christmas_Day']],  \
                  train_total_df[['low_sales_dep']],  \
                  train_total_df[['high_week_sales_dept']],train_total_df[['low_week_sales_dept']],train_monthly_sales , \
                  train_last_year_sales,train_last_year_week_dept_sales,train_nxt_week,train_prev_week ,  \
                  train_week_of_the_month_one_hot
                 )).tocsr()


print("Train data: ",X_train.shape)



X_test = hstack((test_store_one_hot,test_dept_one_hot,test_holiday,test_temperature,  \
                 test_fuel_price,test_markdown1,test_markdown2,test_markdown3,test_markdown4,  \
                  test_markdown5,test_cpi,test_unemployment,test_type_one_hot,test_size  ,  \
                  test_total_df[['date']],test_total_df[['Super_Bowl_Day']],  \
                  test_total_df[['Labor_Day']],test_total_df[['Thanksgiving_Day']],  \
                  test_total_df[['Christmas_Day']],test_total_df[['Next_Week_Of_Thanksgiving']],  \
                  test_total_df[['Next_Holiday_Week_Of_Thanksgiving']],test_total_df[['Next_Week_Of_Christmas']],  \
                  test_week_of_year_one_hot,test_month_of_year_one_hot,test_total_df[['before_Christmas_Day']],  \
                  test_total_df[['low_sales_dep']],   \
                  test_total_df[['high_week_sales_dept']],test_total_df[['low_week_sales_dept']],test_monthly_sales,  \
                 test_last_year_sales,test_last_year_week_dept_sales,test_nxt_week,test_prev_week , \
                 test_week_of_the_month_one_hot
                 )).tocsr()

print("Test data: ",X_test.shape)

Train data:  (420285, 227)
Test data:  (115064, 227)

In [0]:
Y_train=train_total_df[['Weekly_Sales']]
print("train data: ",Y_train.shape)

train data:  (420285, 1)

In [0]:
# Create your dictionary class 
class my_dictionary(dict): 
  
    # __init__ function 
    def __init__(self): 
        self = dict() 
          
    # Function to add key:value 
    def add(self, key, value): 
        self[key] = value

## Using XGBoost

In [0]:
def my_custom_loss_func(act_val,pred_val):
    weight=0
    temp_val=0
    sum_wt=0
    holiday_list=train_holiday[87581:311031].values.tolist()
    act_val=act_val.values.tolist()

    for i in range(len(act_val)):
        if holiday_list[i][0] == 0.0:
            weight=1
        else:
            weight=5

        sum_wt=sum_wt+weight

        temp_val=temp_val + (abs(act_val[i][0]-pred_val[i]) * weight)


    return temp_val/sum_wt

In [0]:
from sklearn.metrics.scorer import make_scorer

my_scorer= make_scorer(my_custom_loss_func, greater_is_better=False)

In [0]:
def weighted_mean_absolute_error(act_val,pred_val,holiday_list):
    weight=0
    temp_val=0
    sum_wt=0
    holiday_list=holiday_list.values.tolist()
    act_val=act_val.values.tolist()

    for i in range(len(act_val)):
        if holiday_list[i][0] == 0.0:
              weight=1
        else:
              weight=5

        sum_wt=sum_wt+weight
        temp_val=temp_val + (abs(act_val[i][0]-pred_val[i]) * weight)


    return temp_val/sum_wt

In [0]:
score=weighted_MAE(Y_test.values.tolist(),rndf_test_predictions,test_holiday.values.tolist())

In [0]:
#import xgboost as xgb
x_model = xgb.XGBRegressor(
 learning_rate =0.05,
 n_estimators=75,
 max_depth=12,
 min_child_weight=3,
 subsample=0.6,
 colsample_bytree=0.7, n_jobs=-1)
x_model.fit(X_train, Y_train)

In [0]:
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV


clf_xgb = xgb.XGBRegressor()
param_dist = {'n_estimators': [100,125,150,200,250],
              'learning_rate':[0.01,0.05,0.1,0.2,0.3],
              'subsample': [0.3,0.5,0.7,0.9],
              'max_depth': [15,20,22,25,27,30,35],
              'colsample_bytree': [0.4,0.5,0.7,0.9],
              'min_child_weight': [1, 2, 3, 4,5]
             }

model = RandomizedSearchCV(clf_xgb, param_dist,scoring=my_scorer, n_jobs=-1)
model.fit(X_train[87581:311031], Y_train[87581:311031])

[12:07:03] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

RandomizedSearchCV(cv=None, error_score=nan,
                   estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                          colsample_bylevel=1,
                                          colsample_bynode=1,
                                          colsample_bytree=1, gamma=0,
                                          importance_type='gain',
                                          learning_rate=0.1, max_delta_step=0,
                                          max_depth=3, min_child_weight=1,
                                          missing=None, n_estimators=100,
                                          n_jobs=1, nthread=None,
                                          objective='reg:linear',
                                          random_state=0, reg_alp...
                   param_distributions={'colsample_bytree': [0.4, 0.5, 0.7,
                                                             0.9],
                                        'learning_rate': [0.01, 0.05, 0.1, 0.2,
                                                          0.3],
                                        'max_depth': [15, 20, 22, 25, 27, 30,
                                                      35],
                                        'min_child_weight': [1, 2, 3, 4, 5],
                                        'n_estimators': [100, 125, 150, 200,
                                                         250],
                                        'subsample': [0.3, 0.5, 0.7, 0.9]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False,
                   scoring=make_scorer(my_custom_loss_func, greater_is_better=False),
                   verbose=0)

In [0]:
print("Best cross-validation score: {:.2f}".format(model.best_score_))
print("Best parameters: ", model.best_params_)

Best cross-validation score: -193.44
Best parameters:  {'subsample': 0.3, 'n_estimators': 125, 'min_child_weight': 5, 'max_depth': 35, 'learning_rate': 0.1, 'colsample_bytree': 0.9}

In [0]:
import xgboost as xgb
x_model = xgb.XGBRegressor(
 learning_rate =0.05,
 n_estimators=75,
 max_depth=12,
 min_child_weight=3,
 subsample=0.6,
 colsample_bytree=0.7, n_jobs=-1)
x_model.fit(X_train, Y_train)

[19:28:05] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.7, gamma=0,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=14, min_child_weight=3, missing=None, n_estimators=75,
             n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.6, verbosity=1)

In [0]:
y_pred = x_model.predict(X_test)
test_predictions = [round(value) for value in y_pred]
y_pred = x_model.predict(X_train)
train_predictions = [round(value) for value in y_pred]

In [0]:
train_error=weighted_mean_absolute_error(Y_train,train_predictions,train_holiday)
train_error

1023.7767414123587

In [0]:
x_model.get_booster().get_score(importance_type="weight")

{'f0': 130,
 'f1': 118,
 'f10': 86,
 'f100': 133,
 'f101': 36,
 'f102': 2,
 'f103': 384,
 'f104': 137,
 'f105': 519,
 'f106': 168,
 'f107': 47,
 'f109': 165,
 'f11': 70,
 'f110': 34,
 'f111': 95,
 'f112': 88,
 'f113': 119,
 'f114': 120,
 'f115': 196,
 'f116': 114,
 'f117': 317,
 'f118': 275,
 'f119': 253,
 'f12': 146,
 'f120': 319,
 'f121': 159,
 'f122': 102,
 'f123': 117,
 'f124': 74,
 'f125': 132,
 'f126': 1109,
 'f127': 7241,
 'f128': 5632,
 'f129': 2772,
 'f13': 276,
 'f130': 2721,
 'f131': 3637,
 'f132': 1856,
 'f133': 1827,
 'f134': 5853,
 'f135': 6485,
 'f136': 639,
 'f137': 583,
 'f138': 254,
 'f139': 5474,
 'f14': 103,
 'f140': 4219,
 'f141': 210,
 'f142': 107,
 'f143': 1098,
 'f144': 347,
 'f145': 818,
 'f146': 75,
 'f147': 317,
 'f148': 109,
 'f149': 43,
 'f15': 95,
 'f150': 80,
 'f151': 152,
 'f152': 57,
 'f153': 171,
 'f154': 521,
 'f155': 153,
 'f156': 198,
 'f157': 72,
 'f158': 60,
 'f159': 96,
 'f16': 246,
 'f160': 365,
 'f161': 681,
 'f162': 304,
 'f163': 359,
 'f164': 256,
 'f165': 87,
 'f166': 232,
 'f167': 131,
 'f168': 69,
 'f169': 214,
 'f17': 214,
 'f170': 88,
 'f171': 26,
 'f172': 35,
 'f173': 94,
 'f174': 186,
 'f175': 123,
 'f176': 42,
 'f177': 123,
 'f178': 56,
 'f179': 42,
 'f18': 136,
 'f180': 46,
 'f181': 117,
 'f182': 351,
 'f183': 121,
 'f184': 85,
 'f185': 61,
 'f186': 91,
 'f187': 106,
 'f188': 49,
 'f189': 68,
 'f19': 235,
 'f190': 104,
 'f191': 212,
 'f192': 114,
 'f193': 139,
 'f194': 143,
 'f195': 352,
 'f196': 241,
 'f197': 228,
 'f198': 168,
 'f199': 319,
 'f2': 74,
 'f20': 101,
 'f200': 144,
 'f201': 159,
 'f202': 337,
 'f203': 160,
 'f204': 564,
 'f205': 419,
 'f206': 192,
 'f207': 315,
 'f208': 125,
 'f209': 189,
 'f21': 106,
 'f210': 155,
 'f211': 413,
 'f212': 840,
 'f213': 900,
 'f214': 199,
 'f215': 1739,
 'f216': 798,
 'f217': 11188,
 'f218': 12081,
 'f219': 13681,
 'f22': 134,
 'f220': 13565,
 'f221': 14348,
 'f222': 1394,
 'f223': 687,
 'f224': 761,
 'f225': 1331,
 'f226': 1225,
 'f23': 132,
 'f24': 95,
 'f25': 114,
 'f26': 197,
 'f27': 265,
 'f28': 87,
 'f29': 31,
 'f3': 122,
 'f30': 102,
 'f31': 128,
 'f32': 68,
 'f33': 71,
 'f34': 179,
 'f35': 94,
 'f36': 34,
 'f37': 50,
 'f38': 94,
 'f39': 93,
 'f4': 116,
 'f40': 74,
 'f41': 96,
 'f42': 59,
 'f43': 12,
 'f44': 111,
 'f45': 1034,
 'f46': 77,
 'f47': 367,
 'f48': 48,
 'f49': 459,
 'f5': 73,
 'f50': 496,
 'f51': 518,
 'f52': 82,
 'f53': 247,
 'f54': 94,
 'f55': 436,
 'f56': 85,
 'f57': 165,
 'f58': 209,
 'f59': 472,
 'f6': 123,
 'f60': 43,
 'f61': 1548,
 'f62': 63,
 'f63': 36,
 'f64': 34,
 'f65': 100,
 'f66': 165,
 'f67': 167,
 'f68': 69,
 'f69': 122,
 'f7': 75,
 'f70': 34,
 'f71': 52,
 'f72': 24,
 'f73': 17,
 'f74': 98,
 'f75': 276,
 'f76': 115,
 'f77': 68,
 'f78': 43,
 'f79': 174,
 'f8': 64,
 'f80': 30,
 'f81': 614,
 'f83': 164,
 'f84': 137,
 'f85': 110,
 'f87': 63,
 'f88': 2,
 'f89': 55,
 'f9': 252,
 'f90': 37,
 'f91': 170,
 'f92': 259,
 'f93': 34,
 'f94': 8,
 'f95': 45,
 'f96': 35,
 'f97': 368,
 'f98': 436,
 'f99': 744}

In [0]:
df_test_data=pd.DataFrame(test_predictions,columns=['Weekly_Sales'])

In [0]:
result = pd.concat([test_total_df[['Date']],test_total_df[['Store']],test_total_df[['Dept']],df_test_data], axis=1)

In [0]:
result.to_csv('pre_xg_out.csv')

In [0]:
result.head()

         Date  Store  Dept  Weekly_Sales
0  2012-11-02      1     1       31700.0
1  2012-11-02      1     2       45366.0
2  2012-11-02      1     3        9730.0
3  2012-11-02      1     4       38704.0
4  2012-11-02      1     5       33901.0

In [0]:
dict_obj = my_dictionary() 
for i,row in result.iterrows():
    dict_obj.add(str(str(row['Store'])+'_'+str(row['Dept'])+'_'+str(row['Date'])),row['Weekly_Sales'])

In [0]:
dict_obj['1_5_2012-11-02']

33805.0

In [0]:
final_Submission = pd.read_csv("/content/drive/My Drive/case_study2/sampleSubmission.csv")

print("Number of data points:",final_Submission.shape[0])

Number of data points: 115064

In [0]:
final_Submission.head()

               Id  Weekly_Sales
0  1_1_2012-11-02             0
1  1_1_2012-11-09             0
2  1_1_2012-11-16             0
3  1_1_2012-11-23             0
4  1_1_2012-11-30             0

In [0]:
result_list=[]
for i,row in final_Submission.iterrows():
    result_list.append(dict_obj[str(row['Id'])])

In [0]:
df_test_result=pd.DataFrame(result_list,columns=['pre_Weekly_Sales'])

In [0]:
test_result = pd.concat([final_Submission,df_test_result], axis=1)

In [0]:
test_result.to_csv('pre_result_output.csv')

In [0]:
test_result.head()

               Id  Weekly_Sales  pre_Weekly_Sales
0  1_1_2012-11-02             0           30857.0
1  1_1_2012-11-09             0           22668.0
2  1_1_2012-11-16             0           19932.0
3  1_1_2012-11-23             0           24124.0
4  1_1_2012-11-30             0           23513.0

In [0]:
from joblib import dump
from joblib import load

dump(x_model, "/content/drive/My Drive/case_study2/pima.joblib.dat")
print("Saved model to: pima.joblib.dat")
 
# some time later...
 
# load model from file
loaded_model = load("/content/drive/My Drive/case_study2/pima.joblib.dat")
print("Loaded model from: pima.joblib.dat")

Saved model to: pima.joblib.dat
[19:23:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Loaded model from: pima.joblib.dat

In [0]:
def final_fun_1(X):

    predictions = loaded_model.predict(X)

    print("The Predicted values for given X are :")

    for i in range(len(predictions)):
        print(predictions[i])
    return predictions

In [0]:
predict =final_fun_1(X_train[:8])

The Predicted values for given X are :
23222.9
49457.754
13588.589
32005.887
28472.969
10546.195
19448.19
37403.875

In [0]:
def final_fun_2(X,Y):
    predictions = loaded_model.predict(X)

    train_predictions = [round(value) for value in predictions]

    train_error=weighted_mean_absolute_error(Y,train_predictions,train_holiday)

    return train_error

In [0]:
Error=final_fun_2(X_train, Y_train)
print("The WMAE error is : ",Error)

The WMAE error is :  1275.8002889865834