In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from subprocess import check_output
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import os
import gc

import re
from nltk.corpus import stopwords
import distance
from nltk.stem import PorterStemmer

In [2]:
train_total_df = pd.read_csv("final_train_2.csv")

print("Number of data points:",train_total_df.shape[0])

Number of data points: 420285

In [3]:
test_total_df = pd.read_csv("final_test_2.csv")

print("Number of data points:",test_total_df.shape[0])

Number of data points: 115064

In [4]:
# Create your dictionary class 
class my_dictionary(dict): 
  
    # __init__ function 
    def __init__(self): 
        self = dict() 
          
    # Function to add key:value 
    def add(self, key, value): 
        self[key] = value

# Getting the t-1 and t+1 week sales

In [ ]:
# Create your dictionary class 
class my_dictionary(dict): 
  
    # __init__ function 
    def __init__(self): 
        self = dict() 
          
    # Function to add key:value 
    def add(self, key, value): 
        self[key] = value

In [ ]:
# Main Function 
dict_obj = my_dictionary() 
for i,row in train_total_df.iterrows():
    dict_obj.add(str(str(row['year'])+'_'+str(row['week_of_year'])+'_'+str(row['Store'])+'_'+str(row['Dept'])),row['Weekly_Sales'])

In [ ]:
train_prev_week=[]
train_nxt_week=[]
for i,row in train_total_df.iterrows():
    key_t1=str(str(row['year'])+'_'+str(int(row['week_of_year'])-1)+'_'+str(row['Store'])+'_'+str(row['Dept']))
    key_t2=str(str(row['year'])+'_'+str(int(row['week_of_year'])+1)+'_'+str(row['Store'])+'_'+str(row['Dept']))

    if key_t1 in  dict_obj.keys(): 
        train_prev_week.append(dict_obj[key_t1])
    else:
        key_t1=str(str(int(row['year'])-1)+'_'+str(int(row['week_of_year'])-1)+'_'+str(row['Store'])+'_'+str(row['Dept']))
        if key_t1 in dict_obj.keys():
               train_prev_week.append(dict_obj[key_t1])
        else:
              train_prev_week.append(0) 
                   
    if key_t2 in dict_obj.keys():
               train_nxt_week.append(dict_obj[key_t2])
    else:
        key_t2=str(str(int(row['year'])+1)+'_'+str(int(row['week_of_year'])+1)+'_'+str(row['Store'])+'_'+str(row['Dept']))
        if key_t2 in dict_obj.keys():
               train_nxt_week.append(dict_obj[key_t2])
        else:
              train_nxt_week.append(0)

In [ ]:
test_prev_week=[]
test_nxt_week=[]
for i,row in test_total_df.iterrows():
    key_t1=str(str(int(row['year'])-1)+'_'+str(int(row['week_of_year'])-1)+'_'+str(row['Store'])+'_'+str(row['Dept']))
    key_t2=str(str(int(row['year'])-1)+'_'+str(int(row['week_of_year'])+1)+'_'+str(row['Store'])+'_'+str(row['Dept']))
               
    if key_t1 in dict_obj.keys():
               test_prev_week.append(dict_obj[key_t1])
    else:
        key_t1=str(str(int(row['year'])-1)+'_'+str(int(row['week_of_year'])-1)+'_'+str(row['Store'])+'_'+str(row['Dept']))
        if key_t1 in dict_obj.keys():
               test_prev_week.append(dict_obj[key_t1])
        else:
              test_prev_week.append(0) 
                   
    if key_t2 in dict_obj.keys():
               test_nxt_week.append(dict_obj[key_t2])
    else:
        key_t2=str(str(int(row['year'])-1)+'_'+str(int(row['week_of_year'])+1)+'_'+str(row['Store'])+'_'+str(row['Dept']))
        if key_t2 in dict_obj.keys():
               test_nxt_week.append(dict_obj[key_t2])
        else:
              test_nxt_week.append(0)

# Getting Previous year month sales

In [16]:
new_2010=train_total_df[train_total_df['year']==2010] 

new_2011=train_total_df[train_total_df['year']==2011 ]

new_2012=train_total_df[train_total_df['year']==2012]

In [28]:
new_2010_df=train_total_df.groupby(['Store','Dept','month_of_year','year'])['Weekly_Sales'].sum().reset_index()
new_2010_df.head(12)

    Store  Dept  month_of_year  year  Weekly_Sales
0       1     1              1  2011      69146.59
1       1     1              1  2012      70205.35
2       1     1              2  2010     131963.08
3       1     1              2  2011     125762.63
4       1     1              2  2012     134683.30
5       1     1              3  2010      91237.14
6       1     1              3  2011      82823.34
7       1     1              3  2012     114680.54
8       1     1              4  2010     150516.76
9       1     1              4  2011     165056.95
10      1     1              4  2012     125600.12
11      1     1              5  2010      66694.15

In [29]:
dict_obj = my_dictionary()
for i,row in new_2010_df.iterrows():
    key=str(str(int(row['Store']))+'_'+str(int(row['Dept']))+'_'+str(int(row['month_of_year']))+'_'+str(int(row['year'])))
    dict_obj.add(key,row['Weekly_Sales'])

In [30]:
train_list=[]
for i,row in train_total_df.iterrows():
    key=str(str(int(row['Store']))+'_'+str(int(row['Dept']))+'_'+str(int(row['month_of_year']))+'_'+str(int(row['year'])))
    train_list.append(dict_obj[key])

In [31]:
result=pd.DataFrame(train_list,columns=['Weekly_Sales'])
result.to_csv('month.csv')

In [33]:
test_list=[]
for i,row in test_total_df.iterrows():
    key=str(str(int(row['Store']))+'_'+str(int(row['Dept']))+'_'+str(int(row['month_of_year']))+'_'+str(int(row['year'])-1))
    
    if key in dict_obj.keys() :
        test_list.append(dict_obj[key])
    else:
        key=str(str(int(row['Store']))+'_'+str(int(row['Dept']))+'_'+str(int(row['month_of_year']))+'_'+str(int(row['year'])-2))
        
        if key in dict_obj.keys() :
            test_list.append(dict_obj[key])
        else:
            test_list.append(5)

In [34]:
result=pd.DataFrame(test_list,columns=['Weekly_Sales'])
result.to_csv('month_test.csv')

# Getting the current month week

In [ ]:
week_of_the_month=[]
current_week=1
current_month=2
current_year_week=6
for i,row in train_total_df.iterrows():
    if current_month == row['month_of_year'] and current_year_week != row['week_of_year']:
        current_week=current_week+1
        week_of_the_month.append(current_week)
        
    else:
        if current_month == row['month_of_year']:
            week_of_the_month.append(current_week)
        else:
            week_of_the_month.append(1)
            current_week=1
            current_month=row['month_of_year']
            
            
    current_year_week=row['week_of_year']

In [ ]:
week_of_the_month=[]
current_week=1
current_month=11
current_year_week=44
for i,row in test_total_df.iterrows():
    if current_month == row['month_of_year'] and current_year_week != row['week_of_year']:
        current_week=current_week+1
        week_of_the_month.append(current_week)
        
    else:
        if current_month == row['month_of_year']:
            week_of_the_month.append(current_week)
        else:
            week_of_the_month.append(1)
            current_week=1
            current_month=row['month_of_year']
            
            
    current_year_week=row['week_of_year']

In [ ]:
df = pd.DataFrame(week_of_the_month, 
               columns =['week_of_the_month']) 
df.to_csv('test_week_of_the_month.csv')